# Ensure "git config --global core.autocrlf input" before you clone
*       text=auto eol=lf

# Python files - show proper diffs and enforce no trailing whitespace
*.py    diff=python whitespace=error

*.ico   binary
*.jpg   binary
*.png   binary
*.zip   binary
